footer {
  background-color: darken($background, 70%);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  line-height: 50px;
  padding-left: 40px;
  padding-bottom: 40px;
}
