body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

h1 {
  font-size: 60px;
  align-self: flex-start;
  width: 80%;
  margin-left: 30px;
}

h2 {
  font-weight: 700;
  font-size: 55px;
}

h3 {
  font-family: shrikhand, sans-serif;
  font-size: 70px;
  align-self: start;
  margin-left: 30px;
}

h4 {
  font-size: 40px;
  font-weight: 300;
  align-self: flex-start;
  margin-left: 30px;
  border-bottom: 6px solid #99e2d0;
  width: 100px;
}

.logo {
  font-family: shrikhand, sans-serif;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.header__accueil {
  margin-bottom: 10px;
}

.resa {
  text-align: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}
.resa h1 {
  align-self: center;
  margin: 40px 0 0 0;
}
.resa p {
  font-size: 40px;
  font-weight: 300;
  width: 80%;
}
.resa__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  font-size: 30px;
  width: 100%;
  box-shadow: inset 0px 5px 5px #dddddd;
}
.resa__header i {
  margin: 20px;
}
.resa__header p {
  width: auto;
  font-size: 35px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 80px;
}
.restaurants__carte {
  border-radius: 20px;
  width: 90%;
  height: 650px;
  line-height: 0px;
  box-shadow: 3px 3px 5px #d8d5d5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 30px 0;
  position: relative;
  z-index: 1;
}
.restaurants__carte img {
  width: 100%;
  height: 70%;
  object-position: 0% 60%;
}
.restaurants__carte .lieu {
  font-size: 50px;
  font-weight: 300;
  padding: 30px 0;
}
.restaurants__carte__nouveau {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  font-weight: 400;
  color: #278870;
  background-color: #99e2d0;
  width: 230px;
  height: 75px;
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
}
.restaurants__carte__texte {
  margin-left: 20px;
}
.restaurants__carte__texte .far {
  position: absolute;
  bottom: 70px;
  right: 30px;
}

img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  z-index: 1;
}

.menus {
  background-color: #f6f6f6;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 3000px;
  margin-top: -110px;
  position: relative;
  z-index: 4;
  width: 100%;
}
.menus__resa__btn {
  margin: 40px, 0 !important;
}

.plat {
  border-radius: 20px;
  border: none;
  width: 90%;
  box-shadow: 3px 3px 5px #d8d5d5;
  background-color: white;
  font-size: 40px;
  line-height: 0px;
}
.plat :hover {
  cursor: pointer;
}
.plat__selection {
  background-color: #99e2d0;
}
.plat__selection i {
  color: white;
}
.plat__nom {
  font-weight: 700;
  margin-left: 20px;
  text-align: start;
}
.plat__comm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px;
}
.plat__comm__1 {
  font-size: 30px;
}
.plat__comm__prix {
  font-weight: 700;
  font-size: 30px;
  right: 60px;
}

.selection__plat {
  border-radius: 20px;
  border: none;
  width: 90%;
  box-shadow: 3px 3px 5px #d8d5d5;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.selection__plat :hover {
  cursor: pointer;
}
.selection__plat :hover + .selection__plat__checked {
  transform: scaleX(1);
  transition: width 1000ms;
  transform-origin: right;
  width: 20%;
}
.selection__plat :hover + .selection__plat__checked span {
  display: inline-block;
  transform: rotate(1turn);
  transition: transform 800ms;
}
.selection__plat__info {
  font-size: 40px;
  line-height: 0px;
  width: 100%;
}
.selection__plat__info__nom {
  font-weight: 700;
  margin-left: 20px;
  text-align: start;
}
.selection__plat__info__comm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px;
}
.selection__plat__info__comm__1 {
  font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 50px;
  line-height: 50px;
}
.selection__plat__info__comm__prix {
  font-weight: 700;
  font-size: 30px;
  width: 30%;
  text-align: end;
}
.selection__plat__checked {
  background-color: #99e2d0;
  width: 0;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scaleX(0);
  overflow: hidden;
}
.selection__plat__checked i {
  color: white;
  font-size: 50px;
}
.selection__plat__checked span {
  transform: rotate(0turn);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  padding: 15px;
}
header a {
  color: #444444;
  font-size: 40px;
  position: absolute;
  left: 40px;
}

footer {
  background-color: #444444;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  line-height: 50px;
  padding-left: 40px;
  padding-bottom: 40px;
  height: 300px;
}
footer a {
  color: white;
}
footer .logo {
  font-size: 40px;
  margin: 20px 0;
}

.resa__btn {
  width: 60%;
  color: white;
  height: 120px;
  border-radius: 60px/60px;
  font-size: 40px;
  border: none;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  margin-bottom: 20px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  height: 750px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;
}
.fonctionnement__etape {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  background-color: #f9f9f9;
  border-radius: 20px/20px;
  box-shadow: 3px 3px 5px #d8d5d5;
  border: none;
  height: 130px;
  font-size: 37px;
  margin: 30px 0;
}
.fonctionnement__etape i {
  color: #909090;
  margin: 0 70px 0 70px;
}
.fonctionnement__etape--niveau {
  background-color: #ece1f9;
}
.fonctionnement__etape--niveau i {
  color: #9356dc;
}
.fonctionnement__etape__numero {
  background-color: #9356dc;
  border-radius: 40px/40px;
  padding: 10px 18px;
  color: white;
  font-size: 30px;
  margin-left: -20px;
}

.heart {
  cursor: pointer;
}
.heart .far {
  z-index: 2;
  font-size: 70px;
}
.heart .fas {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 3;
  font-size: 58px;
  position: absolute;
  bottom: 77px;
  right: 36px;
  transform: scale(0);
}
.heart :hover + .fas {
  transform: scale(1);
  transition: transform 330ms;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

/*# sourceMappingURL=style.css.map */
