body {
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 60px;
  align-self: flex-start;
  width: 100%;
}

h2 {
  font-weight: 400;
}

.logo {
  font-family: shrikhand, sans-serif;
  margin: 0;
}
