.header__accueil {
  margin-bottom: 10px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.AA {
  opacity: 0;
  animation: 1s AAappears;
  animation-delay: 1500ms;
  animation-fill-mode: forwards;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  &__spinner {
    width: 90%;
    height: 80px;
    background-color: $color-tertiary;
    animation: 2000ms loader;
    transform-origin: 0% 50%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: shrikhand;
    font-size: 60px;
  }
}
@keyframes loader {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  98% {
    transform: scaleX(1);
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes AAappears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.resa {
  text-align: center;
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  h1 {
    align-self: center;
    margin: 40px 0 0 0;
  }
  p {
    font-size: 40px;
    font-weight: 300;
    width: 80%;
    @include desktop {
      font-size: 30px;
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darken($background, 3%);
    font-size: 30px;
    width: 100%;
    box-shadow: inset 0px 5px 5px darken($background, 10%);
    i {
      margin: 20px;
    }
    p {
      width: auto;
      font-size: 35px;
      @include desktop {
        font-size: 25px;
      }
    }
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  padding-bottom: 80px;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__carte {
    border-radius: 20px;
    width: 90%;
    height: 650px;
    line-height: 0px;
    box-shadow: 3px 3px 5px rgb(216, 213, 213);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 30px 0;
    position: relative;
    z-index: 1;
    @include tablet {
      width: 45%;
      height: 400px;
    }
    @include desktop {
      width: 45%;
      height: 400px;
    }
    img {
      width: 100%;
      height: 70%;
      object-position: 0% 60%;
      @include tablet {
        height: 60%;
      }
      @include desktop {
        height: 60%;
      }
    }
    .lieu {
      font-size: 50px;
      font-weight: 300;
      padding: 30px 0;
      @include tablet {
        font-size: 30px;
      }
      @include desktop {
        font-size: 30px;
      }
    }
    &__nouveau {
      position: absolute;
      z-index: 2;
      top: 20px;
      right: 20px;
      font-weight: 400;
      color: darken($color-tertiary, 40%);
      background-color: $color-tertiary;
      width: 230px;
      height: 75px;
      font-size: 40px;
      text-align: center;
      border-radius: 10px;
      @include tablet {
        font-size: 25px;
        width: 160px;
        height: 50px;
      }
      @include desktop {
        font-size: 25px;
        width: 160px;
        height: 50px;
      }
    }
    &__texte {
      margin-left: 20px;
      .far {
        position: absolute;
        bottom: 70px;
        right: 30px;
        @include tablet {
          bottom: 30px;
          font-size: 50px !important;
        }
        @include desktop {
          bottom: 30px;
          font-size: 50px !important;
        }
      }
      .fas {
        position: absolute;
        bottom: 77px;
        right: 36px;
        @include tablet {
          bottom: 35px;
          right: 34px;
          font-size: 42px !important;
        }
        @include desktop {
          bottom: 35px;
          right: 34px;
          font-size: 42px !important;
        }
      }
    }
  }
}
