.header__accueil {
  margin-bottom: 10px;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  &__spinner {
    width: 80%;
    height: 80px;
    background-color: red;
    border: 2px solid black;
    animation: 1500ms loader;
    transform-origin: 0% 50%;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  17% {
    transform: scaleX(0.18);
    opacity: 1;
  }
  24% {
    transform: scaleX(0.4);
    opacity: 1;
  }
  46% {
    transform: scaleX(0.81);
    opacity: 1;
  }
  98% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 1;
  }
}

.resa {
  text-align: center;
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  h1 {
    align-self: center;
    margin: 40px 0 0 0;
  }
  p {
    font-size: 40px;
    font-weight: 300;
    width: 80%;
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darken($background, 3%);
    font-size: 30px;
    width: 100%;
    box-shadow: inset 0px 5px 5px darken($background, 10%);
    i {
      margin: 20px;
    }
    p {
      width: auto;
      font-size: 35px;
    }
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  padding-bottom: 80px;
  &__carte {
    border-radius: 20px;
    width: 90%;
    height: 650px;
    line-height: 0px;
    box-shadow: 3px 3px 5px rgb(216, 213, 213);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 30px 0;
    position: relative;
    z-index: 1;
    img {
      width: 100%;
      height: 70%;
      object-position: 0% 60%;
    }
    .lieu {
      font-size: 50px;
      font-weight: 300;
      padding: 30px 0;
    }
    &__nouveau {
      position: absolute;
      z-index: 2;
      top: 20px;
      right: 20px;
      font-weight: 400;
      color: darken($color-tertiary, 40%);
      background-color: $color-tertiary;
      width: 230px;
      height: 75px;
      font-size: 40px;
      text-align: center;
      border-radius: 10px;
    }
    &__texte {
      margin-left: 20px;
      .far {
        position: absolute;
        bottom: 70px;
        right: 30px;
      }
      .fas {
        position: absolute;
        bottom: 77px;
        right: 36px;
      }
    }
  }
}
